html,
body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    color: #333;
    box-sizing: border-box;
    font-family: Lato, PingFang SC, Microsoft YaHei, sans-serif;
    -webkit-tap-highlight-color: transparent;
    &.hidden {
        overflow: hidden;
    }
}
p{
    margin: 0;
}
.jet-icon-loading{
    .el-message__content{
        margin-left: 10px;
    }
}